*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    color: white;
}

body {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../images/fust.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.title {
    text-align: center;
    margin-top: 30px;
}

.companis {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.companis input {
    border: none;
    background-color: none;
}

.compani_container {
    background-color: #212529;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.linditex {
    background-image: url(../images/linditex.png);
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 100px;
}

.palladion {
    background-image: url(../images/Palladion-Logo-RGB.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
}

.linditex:hover {
    transform: translateY(-15px);
    box-shadow: 0px 0px 20px red;
}

.palladion:hover {
    transform: translateY(-15px);
    box-shadow: 0px 0px 20px yellow;
}

/*************************************************************/

.input_materials_container {
    width: 90%;
    height: 500px;
    padding: 20PX 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 20px;
}

.customers_name {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form_container {
    padding: 10px;
    width: 100%;
}

.input {
    position: relative;
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input input {
    height: 60px;
    margin: 5px 0;
    position: relative;
    background-color: transparent;
    outline: transparent;
    width: 90%;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.514);
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #212529;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
    letter-spacing: 1.3px;
}

.placeholder {
    position: absolute;
    font-size: 1rem;
    letter-spacing: 1.2px;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: white;
    transition: 0.3s;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 300px;
}

.button input {
    color: #212529;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 100;
    transition: 0.5s;
}

.button input:hover {
    transform: translateY(-10px);
}

.input input:focus,
.input input :valid {
    background-color: #212529;
    border: 1px solid red;
    z-index: 1111;
}

.input input:focus + .placeholder,
.input input:valid + .placeholder {
    transform: translate(-10px, -40px);
    color: white;
    font-size: 0.8rem;
    background-color: #212529;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(114, 112, 112, 0.966);
    z-index: 1111;
}


@media only screen and ( min-width: 800px) {

    .form_container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .row {
        width: 49%;
    }

    .input input {
        width: 100%;
    }

    .input input:focus + .placeholder,
    .input input:valid + .placeholder {
    transform: translate(-30px, -40px);
    }
}

@media only screen and ( min-width: 1200px) {


   
}

@media only screen and ( min-width: 1400px) {

}